body {
  background-color: black;
  color: #ffffff;
}
.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.main-content {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icons {
  margin: 30px;
}
.social-icons .twitter {
  padding: 0 20px;
}

.about-me {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  width: 100%;
}

.about-title,
.about-content {
  width: 50%;
}

.chat-now {
  display: flex;
  align-items: center;
  gap: 2%;
}

.text-center {
  text-align: center;
}

.margin {
  margin: 7px 0;
}

.one {
  font-size: 50px;
  font-weight: 900;
}

.design-par {
  font-weight: 900;
  font-weight: 50px;
}

.pic-1 {
  width: 300px;
  height: 250px;
  border-radius: 25%;
}
.pic-2 {
  width: 300px;
  height: 250px;
  border-radius: 25%;
}
.pic-3 {
  width: 300px;
  height: 250px;
  border-radius: 25%;
}
.pic-4 {
  width: 300px;
  height: 250px;
  border-radius: 25%;
}
.pic-5 {
  width: 300px;
  height: 250px;
  border-radius: 25%;
}

.pic-6 {
  width: 300px;
  height: 250px;
  border-radius: 25%;
}

.first-summary,
.second-summary {
  width: 50%;
}

.summary {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  width: 100%;
}

.pic-7 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
